@{
    ViewData["Title"] = "Home Page";
}
<br>
<div>
    <a asp-area="" asp-controller="Student" asp-action="">Students</a>
    <br>
    <a asp-area="" asp-controller="Teacher" asp-action="">Teachers</a>
    <br>
    <a asp-area="" asp-controller="Class" asp-action="">Classes</a>
</div>


